<h1 id="title" class="noselect">CITIBIKER</h1>
<div id="nav">
	<h2 id="loginNav" class="navs hvr-pulse-shrink noselect">LOGIN</h2>
	<h2 id="filterNav" class="navs hvr-pulse-shrink noselect">FIND</h2>
	<a href="/{{username}}" class="not-active" id="homeNav"><h2 id="profileNav" class="navs hvr-pulse-shrink noselect">{{username}}</h2></a>
	<style>
		#profileNav{
			display: {{profdisplay}};
		}
	</style>
</div>
<div id="loginDiv">
	<form action="/login" method="POST" id="access" class="noselect">
		<h1 id="accessText">LOGIN</h1>
		<h3 id="regSwitch" class="hvr-pulse-shrink">(REGISTER?)</h3>
		<input type="text" placeholder="USERNAME" name="username">
		<input type="text" placeholder="PASSWORD"  name="password">
		<button id="accessBttn">SUBMIT</button>
	</form>
</div>
<div id="filterDiv">
	<form action="/filterrides" method="GET" id="filterRides">
		<h1 id="filtering">FILTERING</h1>
		<div id="filterInput">
			<div id="ftop">
				<input type="text" placeholder="STARTSTATION" name="ssFilter">
				<input type="text" placeholder="ENDSTATION" name="esFilter">
				<select name="durFilter">
					<option value="asc">FASTEST</option>
					<option value="desc">SLOWEST</option>
				</select>
			</div>
			<div id="fbot">
				<input type="number" min="18" max="110" name="ageYoung" placeholder="min age">
				<input type="number" min="18" max="110" name="ageOld" placeholder="max age">
				<select name="genFilter">
					<option value="">MALE & FEMALE</option>
					<option value="male">MALE</option>
					<option value="female">FEMALE</option>
				</select>
				<button>GO</button>
			</div>
		</div>
	</form>
</div>
<div id="outputDiv">
	<h1>ALL RIDES</h1>
	{{#each results}}
		<div class="outputs">
			<div id="rTime">
				&nbsp{{durationF}}&nbsp
			</div>
			<div id="sNames">
				&nbsp{{startStation}}&nbsp
				<b>&nbspTO&nbsp</b>&nbsp{{endStation}}&nbsp
			</div>
			<div id="rMeta">
				<b>AGE:</b>&nbsp{{age}}&nbsp
				<b>GENDER:</b>&nbsp{{gender}}&nbsp
			</div>
		</div>
	{{/each}}
</div>